In [5]:
import pandas as pd
import numpy as np 

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import metrics
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.model_selection import train_test_split

In [93]:
train = pd.read_csv('ads_train.csv')
test = pd.read_csv( 'ads_test.csv')

In [113]:
train.columns
train.head(5)
test.head(5)

Index(['Unnamed: 0', 'isbuyer', 'buy_freq', 'visit_freq', 'buy_interval',
       'sv_interval', 'expected_time_buy', 'expected_time_visit', 'last_buy',
       'last_visit', 'multiple_buy', 'multiple_visit', 'uniq_urls',
       'num_checkins', 'y_buy'],
      dtype='object')

,Unnamed: 0,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
0,1,0,1.0,1.0,0.0,0.00000,0.0,0.00000,106.0,106.0,0,0,169.0,2130.0,0
1,2,0,1.0,1.0,0.0,0.00000,0.0,0.00000,6.0,6.0,0,0,150.0,539.0,0
2,3,0,1.0,2.0,0.0,0.50000,0.0,-101.14930,101.0,101.0,0,1,103.0,362.0,0
3,4,0,1.0,1.0,0.0,0.00000,0.0,0.00000,42.0,42.0,0,0,17.0,35.0,0
4,5,0,1.0,3.0,0.0,45.47917,0.0,-34.14473,64.0,64.0,0,1,100.0,298.0,0

,Unnamed: 0,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
0,1,0,1.0,1.0,0.0,0.00000,0.0,0.0000,72.0,72.0,0,0,154.0,1100.0
1,2,0,1.0,1.0,0.0,0.00000,0.0,0.0000,5.0,5.0,0,0,4.0,12.0
2,3,0,1.0,1.0,0.0,0.00000,0.0,0.0000,42.0,42.0,0,0,42.0,110.0
3,4,0,1.0,2.0,0.0,29.79167,0.0,-106.1883,121.0,121.0,0,1,101.0,401.0
4,5,0,1.0,2.0,0.0,21.33333,0.0,-108.3230,118.0,118.0,0,1,163.0,891.0

In [95]:
train.describe()

,Unnamed: 0,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,38209.000000,38209.000000,1620.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000,38209.000000
mean,19105.000000,0.042398,1.239506,1.868199,0.197411,5.862179,-0.174376,-10.136685,64.657384,64.657384,0.005967,0.277526,86.594624,723.834515,0.004502
std,11030.132554,0.201499,0.840259,2.996675,3.855662,17.726455,4.784059,31.796845,53.453475,53.453475,0.077018,0.447784,61.941089,1286.380572,0.066943
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-181.923800,-187.615600,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000
25%,9553.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,18.000000,18.000000,0.000000,0.000000,30.000000,127.000000,0.000000
50%,19105.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,50.000000,50.000000,0.000000,0.000000,75.000000,319.000000,0.000000
75%,28657.000000,0.000000,1.000000,2.000000,0.000000,0.125000,0.000000,0.000000,105.000000,105.000000,0.000000,1.000000,155.000000,803.000000,0.000000
max,38209.000000,1.000000,15.000000,84.000000,174.625000,184.916700,84.285710,91.401920,188.000000,188.000000,1.000000,1.000000,206.000000,37091.000000,1.000000

In [ ]:
# train["buy_interval"].value_counts()
# train["buy_interval"].isnull().sum()
# train["sv_interval"].value_counts()
# train["sv_interval"].isnull().sum()
# train["expected_time_buy"].value_counts()
# train["expected_time_buy"].isnull().sum()
# train["expected_time_visit"].value_counts()
# train["expected_time_visit"].isnull().sum()
# train["last_buy"].value_counts()
# train["last_buy"].isnull().sum()
# train["last_visit"].value_counts()
# train["last_visit"].isnull().sum()
# train["uniq_urls"].value_counts()
# train["uniq_urls"].isnull().sum()
# train["num_checkins"].value_counts()
# train["num_checkins"].isnull().sum()
# 类别：
# train["multiple_buy"].value_counts()
# train["multiple_buy"].isnull().sum()
# train["isbuyer"].value_counts()
# train["isbuyer"].isnull().sum()
# train["multiple_visit"].value_counts()
# train["multiple_visit"].isnull().sum()

In [96]:
train["buy_freq"]=train["buy_freq"].fillna(1)
test["buy_freq"]=test["buy_freq"].fillna(1)

In [46]:
# train["buy_interval"].value_counts()
# train["buy_interval"].isnull().sum()
# train["sv_interval"].value_counts()
# train["sv_interval"].isnull().sum()
# train["expected_time_buy"].value_counts()
# train["expected_time_buy"].isnull().sum()
# train["expected_time_visit"].value_counts()
# train["expected_time_visit"].isnull().sum()
# train["last_buy"].value_counts()
# train["last_buy"].isnull().sum()
# train["last_visit"].value_counts()
# train["last_visit"].isnull().sum()
# train["uniq_urls"].value_counts()
# train["uniq_urls"].isnull().sum()
# train["num_checkins"].value_counts()
# train["num_checkins"].isnull().sum()
# 类别：
# train["multiple_buy"].value_counts()
# train["multiple_buy"].isnull().sum()
# train["isbuyer"].value_counts()
# train["isbuyer"].isnull().sum()
# train["multiple_visit"].value_counts()
# train["multiple_visit"].isnull().sum()

0    37981
1      228
Name: multiple_buy, dtype: int64

0

In [97]:
num_features = [ 'buy_freq', 'visit_freq', 'buy_interval','sv_interval', 'expected_time_buy', 'expected_time_visit', 'last_buy','last_visit', 'uniq_urls', 'num_checkins']
cate_features = ['isbuyer', 'multiple_buy','multiple_visit']
#最终特征，可以细加
features = cate_features+num_features

In [98]:
for df in cate_features:
    train[df]=train[df].astype('category')
    test[df]=test[df].astype('category')
for df in num_features:
    train[df]=train[df].astype('float')
    test[df]=test[df].astype('float')

In [72]:
import lightgbm as lgb
from sklearn.cross_validation import cross_val_score

/ZC_DATA/miniconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [109]:
model_lgb = lgb.LGBMClassifier(
                              learning_rate=0.02, n_estimators=3000,# 0.01,3000
                              lambda_l1 = 5,lambda_l2 = 0.01,
                              num_leaves=4, min_sum_hessian_in_leaf = 12,
                              bagging_freq = 5,
                              colsample_bytree = 0.3,subsample = 0.8, # 0.5 0.6
                              feature_fraction_seed=9,bagging_seed=9,
                              min_data_in_leaf =4,min_split_gain = 0.01,
                              max_depth=3,
                              scale_pos_weight =37981/1620,num_threads=30,
                              )

In [110]:
def roc_cv(model,train_data,label):
    roc_cv = cross_val_score(model, train_data, label,scoring="roc_auc", cv = 6,verbose=5) 
    return(roc_cv.mean())

In [111]:
auc = roc_cv(model_lgb,train[features],train["y_buy"])

[CV]  ................................................................
[CV] ....................................... , score=0.813002 -   3.5s
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.5s remaining:    0.0s

[CV] ....................................... , score=0.815618 - 1.7min
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:  1.7min remaining:    0.0s

[CV] ....................................... , score=0.855080 - 2.2min
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:  3.9min remaining:    0.0s

[CV] ....................................... , score=0.908508 - 2.8min
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:  6.7min remaining:    0.0s

[CV] ....................................... , score=0.765223 - 1.7min
[CV]  ................................................................
[CV] ....................................... , score=0.812290 - 1.7min

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed: 10.1min finished

In [112]:
auc

0.8282868774905491